@page
@model CountdownWebAPP.Views.IndexModel
<form method="post" id="frmTime">
    <table>
        <tr>
            <td>
                <label for="RemainingTime" class="col-form-label">
                    Enter the number of seconds you want to count down
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="remainingTime" id="number">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-dark" value="Start"/>
            </td>
        </tr>
    </table>
</form>
    <table>
        <tr>
            <td>
                <label class="col-form-label">
                    Number of seconds missing:
                </label>
            </td>
            <td>
                <label class="col-form-label-lg" id="timeMissing">
                    
                </label>
            </td>
        </tr>
    </table>
    <script src="js/Home.js"></script>
